{% extends 'custom_admin/base.html' %} 

{% block content %}
<h2>Отправка сообщения</h2>
<p>Сотрудник: <strong>{{ employee.full_name }}</strong></p>

<form method="post" action="{% url 'send_message_process' shop.website_url employee.id %}">
    {% csrf_token %}
    <label for="message">Сообщение:</label>
    <textarea name="message" id="message" rows="4" class="form-control"></textarea>
    <br>
    <button type="submit" class="btn btn-success">📩 Отправить</button>
    {% comment %} <a href="{% url 'apps'  shop.website_url %}" class="btn btn-secondary">Назад</a> {% endcomment %}
</form>
{% endblock %}
